---
import MainLayout from "../components/MainLayout.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Pokemon</title>
  </head>

  <link
    href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
    rel="stylesheet"
  />

  <body>
    <MainLayout>
      <div class="min-h-screen flex items-center justify-center bg-gray-100">
        <!-- Centered container using flexbox -->
        <div
          class="bg-white p-6 rounded-lg shadow-md w-full md:w-2/3 lg:w-1/2 xl:w-1/3">
          <!-- Card-like container with padding and shadow -->
          <h1 class="text-3xl font-semibold mb-6">About Pokemon</h1>
          <p>Images from public folder are not touched or optimized by Astro</p>

          <div class="content">
            <p>
              Pokemon, a world-renowned franchise, began as a video game in the
              1990s and has since evolved into a global phenomenon encompassing
              video games, trading card games, an animated television series,
              movies, and more. The heart of Pokemon lies in the unique
              creatures known as "Pokemon", each with their own abilities,
              characteristics, and lore.
            </p>
            <p>
              The essence of the Pokemon universe is the bond between Pokemon
              and their trainers, as they embark on adventures, battle, and grow
              together. This universe is rich with diverse habitats, mysterious
              legends, and exciting battles, making it an endlessly fascinating
              world for both the young and the young at heart.
            </p>
          </div>
          <img
            src="/pokemon6.jpeg"
            alt="Pokemon World"
            height={400}
            width={400}
          />
          <img
            src="/pokemon1.png"
            alt="Pokemon World"
            height={400}
            width={400}
          />
          <img
            src="/pokemon2.jpeg"
            alt="Pokemon World"
            height={400}
            width={400}
          />
          <img
            src="/pokemon3.jpeg"
            alt="Pokemon World"
            height={400}
            width={400}
          />
          <img
            src="/pokemon4.png"
            alt="Pokemon World"
            height={400}
            width={400}
          />
          <img
            src="/pokemon5.webp"
            alt="Pokemon World"
            height={400}
            width={400}
          />
        </div>
      </div>
    </MainLayout>
  </body>
</html>
